<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Добро пожаловать!</h1>
  <button id="myButton">Получить данные с сервера</button>
  <script src="/script.js"></script>
</body>
</html>